.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.InputElement {
    width: 70%;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
}

.Label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    padding: 2px;
}

.InputElement:focus {
    outline: none;
    background-color: white;
    border: 2px solid green;
}

.InputErr {
    background-color: rgb(245, 149, 149);
    border: 2px solid red;
}
.errMsg {
    color: red;
    font-size: 15px;
    font-weight: bold;
}