.SideDrawer {
    display: none;
}

@media (max-width: 500px) {
    .SideDrawer {
        width: 80%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 500;
        background-color: #42cb3b;
        padding: 0;
        display: grid;
        position: fixed;
        transition: all 0.25s ease-in-out;
    }

    .Open {
        opacity: 1;
        transform: translateX(0);
    }

    .Close {
        opacity: 0;
        transform: translateX(-100%);
    }
}