.SideDrawer {
    display: none;
}

@media (max-width: 500px) {
    .SideDrawer {
        width: 100%;
        max-width: 325px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 200;
        background-color: #42cb3b;
        padding: 0;
        display: grid;
        position: fixed;
        margin-top: 53px;
    }

    .Open {
        display: block;
    }

    .Close {
        display: none;
    }
}