.NavItem {
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    cursor: pointer;
    color: black;
}

.NavItem:Hover,
.NavItem:active,
.NavItem.active {
    background-color: rgb(113, 230, 113);
    border-bottom: 5px solid rgb(99, 168, 99);
}