.NavItems {
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: block;
    margin: auto;
  }

@media (min-width: 500px) {
    .NavItems {
        flex-flow: row;
        display: flex;
    }
}
